@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --color-background: #1e1e1e; /* Fondo principal */
  --color-secondary-background: #2c2c2c; /* Fondo secundario */
  --color-text: #e0e0e0; /* Texto principal */
  --color-secondary-text: #a0a0a0; /* Texto secundario */
  --color-accent: #3a3a3a; /* Acento */
  --color-border: #3d3d3d; /* Bordes */
}

@layer base {
  body {
    font-family: var(--font-roboto);
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
    padding: 0;
  }
}

